.notification
  .notice

= render 'groups/chat-side'

.chat-main
  = render 'groups/chat-main'
  .chat-main__body
    = render partial: 'message', collection: @messages
  .chat-main__footer
    = render 'messages/footer'



