.chat-main__header
  .chat-main__header--group.clearfix
    .chat-main__header--group-name
      sample
    %ul
      %li.chat-main__header--group-edit-btn
        = link_to 'edit', "/groups/#{@group.id}/edit", method: :get
  .chat-main__header-members
    MEMBER:
    %i
      = @group.users.name




    / %form#new_message.chat-main__footer-form{"accept-charset" => "UTF-8", :action => "/groups/362/messages", :enctype => "multipart/form-data", :method => "post"}
    /   %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    /   %input{:name => "authenticity_token", :type => "hidden", :value => "irkWRuBh5bdyIkyYvQXQwoYxYRiTpVl4Yu2XO8z8MlRjoPlGf+fZNjx8/2kwqAGRg5gvEsffTYp1m8EjU82aIg=="}/
    /   .chat-main__footer-body
    /     %input#message_body.message{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
    /     %label.chat-file{:for => "message_image"}
    /       %input#message_image.image{:name => "message[image]", :type => "file"}/
    /       %i.fa.fa-image
    /   %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
