.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      %a.chat-side__user--new-group{:href => "/groups/new"}
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}

      %a.chat-side__user--edit-user{:href => "/users/edit"}
        %i.fa.fa-cog{"aria-hidden" => "true"}

  .chat-side__groups
    .chat-side__groups-list
      - current_user.groups.each do |group|
        = link_to groups_messages_path(group) do
          .chat-side__group
            .chat-side__group-name
              = group.name
            .chat-side__group-message
              メッセージはまだありません。
